In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import requests

# Census Data Explorer

In [2]:
top_df = pd.read_csv("/Users/adriana/Google Drive/_Learning/_DS4A/Assignments/0_Final_Project/2020_top_thirty.csv")
top_df.dropna()
top_df

,region,city,state,popsize,pop_est,white_nonhi,black,asian,hisp_lat
0,southwest,Albuquerque,New Mexico,"500k-999,999",560513,0.39,0.033,0.029,0.492
1,southeast,Atlanta,Georgia,"500k-999,999",506811,0.38,0.510,0.044,0.043
2,southwest,Austin,Texas,"500k-999,999",978908,0.48,0.078,0.076,0.339
3,northeast,Baltimore,Maryland,"500k-999,999",593490,0.28,0.624,0.026,0.053
4,northeast,Boston,Massachusetts,"500k-999,999",692600,0.45,0.252,0.097,0.198
5,southeast,Charlotte,North Carolina,"500k-999,999",885708,0.42,0.352,0.065,0.143
6,midwest,Chicago,Illinois,1M+,2693976,0.33,0.296,0.066,0.288
7,west,Colorado Springs,Colorado,<500k,478221,0.69,0.065,0.029,0.176
8,midwest,Columbus,Ohio,"500k-999,999",898553,0.55,0.290,0.058,0.062
9,southwest,Dallas,Texas,1M+,1343573,0.29,0.243,0.034,0.418
10,west,Denver,Colorado,"500k-999,999",727211,0.54,0.092,0.037,0.299
11,midwest,Detroit,Michigan,"500k-999,999",670031,0.11,0.783,0.017,0.077
12,southwest,El Paso,Texas,"500k-999,999",681728,0.13,0.036,0.014,0.814
13,southwest,Fort Worth,Texas,"500k-999,999",909585,0.39,0.189,0.046,0.351
14,west,Fresno,California,"500k-999,999",531576,0.27,0.074,0.138,0.496
15,southwest,Houston,Texas,1M+,2320268,0.24,0.226,0.068,0.450
16,midwest,Indianapolis,Indiana,"500k-999,999",876384,0.55,0.286,0.034,0.105
17,southeast,Jacksonville,Florida,"500k-999,999",911507,0.51,0.310,0.048,0.100
18,midwest,Kansas City,Missouri,<500k,497159,0.38,0.233,0.049,0.304
19,west,Las Vegas,Nevada,"500k-999,999",651319,0.44,0.122,0.069,0.331
20,west,Los Angeles,California,1M+,3979576,0.29,0.089,0.116,0.485
21,southeast,Louisville,Kentucky,"500k-999,999",617638,0.66,0.236,0.027,0.056
22,southeast,Memphis,Tennessee,"500k-999,999",651073,0.26,0.641,0.017,0.072
23,southwest,Mesa,Arizona,"500k-999,999",518012,0.61,0.042,0.022,0.277
24,midwest,Milwaukee,Wisconsin,"500k-999,999",590157,0.35,0.387,0.043,0.190
25,southeast,Nashville,Tennessee,"500k-999,999",670820,0.55,0.276,0.037,0.105
26,northeast,New York City,New York,1M+,8336817,0.32,0.243,0.141,0.291
27,southwest,Oklahoma City,Oklahoma,"500k-999,999",655057,0.54,0.143,0.045,0.197
28,midwest,Omaha,Nebraska,<500k,478192,0.67,0.123,0.038,0.139
29,northeast,Philadelphia,Pennsylvania,1M+,1584064,0.35,0.421,0.072,0.147
30,west,Phoenix,Arizona,1M+,1680992,0.43,0.071,0.038,0.426
31,west,Portland,Oregon,"500k-999,999",654741,0.71,0.058,0.082,0.097
32,west,Sacramento,California,"500k-999,999",513624,0.32,0.132,0.189,0.289
33,southwest,San Antonio,Texas,1M+,1547253,0.25,0.070,0.028,0.642
34,west,San Diego,California,1M+,1423851,0.43,0.064,0.167,0.303
35,west,San Francisco,California,"500k-999,999",881549,0.41,0.052,0.344,0.152
36,west,San Jose,California,1M+,1021795,0.26,0.030,0.359,0.316
37,west,Seattle,Washington,"500k-999,999",753675,0.64,0.073,0.154,0.067
38,southwest,Tucson,Arizona,"500k-999,999",548073,0.44,0.052,0.032,0.436
39,northeast,Washington,District of Columbia,"500k-999,999",705749,0.37,0.463,0.040,0.110

# 2019 FBI Hate Crime DF

In [3]:
#2019 FBI Hate Crime DB
hc_df = pd.read_csv("/Users/adriana/Google Drive/_Learning/_DS4A/Assignments/0_Final_Project/Crime/og_hc_df.csv")
hc_df = hc_df.dropna()
hc_df["city"] = hc_df["city"].str.replace('2', '')
hc_df.head(100)

,state,city,race_ethnicity_ancestry,religion,sexual_orientation,disability,gender,gender_identity,1st_quarter,2nd_quarter,3rd_quarter,4th_quarter,popsize
0,Alaska,Anchorage,4,0,2,0,0,0,1.0,2.0,3.0,0.0,"287,731"
1,Alaska,Fairbanks,1,0,0,0,0,0,0.0,1.0,0.0,0.0,"31,493"
2,Alaska,Kotzebue,1,0,0,0,0,0,0.0,0.0,1.0,0.0,"3,272"
4,Alaska,Soldotna,0,0,2,0,0,0,0.0,0.0,0.0,2.0,"4,756"
5,Arizona,Apache Junction,2,1,1,1,0,0,1.0,3.0,0.0,1.0,"42,531"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,California,Mission Viejo,0,2,0,0,0,0,1.0,0.0,1.0,0.0,"95,453"
103,California,Modesto,3,0,0,0,0,0,1.0,2.0,0.0,0.0,"216,542"
104,California,Montebello,0,1,0,0,0,0,0.0,1.0,0.0,0.0,"62,650"
105,California,Monterey,0,0,1,0,0,0,0.0,0.0,0.0,1.0,"28,337"
106,California,Monterey Park,1,0,0,0,0,0,0.0,0.0,1.0,0.0,"60,424"

In [4]:
hc_df = hc_df[["state", "city", "popsize", "race_ethnicity_ancestry", "religion", "sexual_orientation", "disability", "gender", "gender_identity"]]
hc_df

,state,city,popsize,race_ethnicity_ancestry,religion,sexual_orientation,disability,gender,gender_identity
0,Alaska,Anchorage,"287,731",4,0,2,0,0,0
1,Alaska,Fairbanks,"31,493",1,0,0,0,0,0
2,Alaska,Kotzebue,"3,272",1,0,0,0,0,0
4,Alaska,Soldotna,"4,756",0,0,2,0,0,0
5,Arizona,Apache Junction,"42,531",2,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...
1506,Wisconsin,Winneconne,"2,506",0,1,0,0,0,0
1508,Wyoming,Cody,"9,865",1,0,0,0,0,0
1509,Wyoming,Evanston,"11,624",1,0,0,0,0,0
1510,Wyoming,Laramie,"32,669",0,0,1,0,0,0
1511,Wyoming,Sheridan,"17,895",1,0,0,0,0,0

In [5]:
# save cleaned as "hc_df.csv"
hc_df.to_csv("/Users/adriana/Google Drive/_Learning/_DS4A/Assignments/0_Final_Project/Crime/hc_df.csv", index = False)

# Filter FBI Hate Crime DF for top_thirty Cities

In [6]:
#change column name
hc_df.rename(columns = {'race_ethnicity_ancestry':'hc_demo'}, inplace = True)

In [7]:
# top_thirty city and state columns to respective lists
search_city = top_df["city"].tolist()
search_state = top_df["state"].tolist()
search = {"city": search_city, "state": search_state}

In [8]:
search_city

['Albuquerque',
 'Atlanta',
 'Austin',
 'Baltimore',
 'Boston',
 'Charlotte',
 'Chicago',
 'Colorado Springs',
 'Columbus',
 'Dallas',
 'Denver',
 'Detroit',
 'El Paso',
 'Fort Worth',
 'Fresno',
 'Houston',
 'Indianapolis',
 'Jacksonville',
 'Kansas City',
 'Las Vegas',
 'Los Angeles',
 'Louisville',
 'Memphis',
 'Mesa',
 'Milwaukee',
 'Nashville',
 'New York City',
 'Oklahoma City',
 'Omaha',
 'Philadelphia',
 'Phoenix',
 'Portland',
 'Sacramento',
 'San Antonio',
 'San Diego',
 'San Francisco',
 'San Jose',
 'Seattle',
 'Tucson',
 'Washington']

In [9]:
# filter for city-state match
# account for problem cities
top_hc_city = hc_df[hc_df["city"].isin(search_city)]
top_hc = top_hc_city[top_hc_city["state"].isin(search_state)]
top_hc = top_hc.drop(top_hc[(top_hc["city"] == "Jacksonville") & (top_hc["state"] == "Texas")].index)
top_hc = top_hc.drop(top_hc[(top_hc["city"] == "Louisville") & (top_hc["state"] == "Ohio")].index)
top_hc = top_hc.drop(top_hc[(top_hc["city"] == "Dallas") & (top_hc["state"] == "North Carolina")].index)
top_hc = top_hc.drop(top_hc[(top_hc["city"] == "Columbus") & (top_hc["state"] == "Indiana")].index)
top_hc = top_hc.drop(top_hc[(top_hc["city"] == "Washington") & (top_hc["state"] == "North Carolina")].index)
top_hc.reset_index()

,index,state,city,popsize,hc_demo,religion,sexual_orientation,disability,gender,gender_identity
0,11,Arizona,Mesa,"518,160",2,0,1,0,0,0
1,13,Arizona,Phoenix,"1,688,722",111,20,23,0,2,3
2,19,Arizona,Tucson,"548,374",6,6,4,0,0,0
3,97,California,Los Angeles,"4,015,546",118,81,70,2,0,14
4,146,California,Sacramento,"513,934",1,1,1,1,0,2
5,151,California,San Diego,"1,441,737",8,11,9,1,0,1
6,152,California,San Francisco,"886,007",35,5,22,0,0,2
7,154,California,San Jose,"1,040,008",13,7,10,1,0,2
8,196,Colorado,Colorado Springs,"479,648",6,2,4,0,0,0
9,198,Colorado,Denver,"728,941",40,15,26,2,0,2
10,262,District of Columbia,Washington,"705,749",107,5,60,1,2,27
11,272,Florida,Jacksonville,"909,142",4,0,0,0,0,0
12,339,Illinois,Chicago,"2,707,064",18,5,11,0,0,6
13,362,Indiana,Indianapolis,"883,699",13,5,3,0,0,1
14,430,Kentucky,Louisville,"675,501",4,4,2,0,0,1
15,470,Massachusetts,Boston,"698,941",113,26,47,0,1,1
16,557,Michigan,Detroit,"663,502",30,1,18,2,1,0
17,690,Missouri,Kansas City,"495,964",25,6,2,1,0,0
18,717,Nebraska,Omaha,"470,481",0,1,0,0,0,0
19,721,Nevada,Las Vegas,"1,916,657",17,7,4,1,0,1
20,928,New Mexico,Albuquerque,"561,920",25,7,6,1,0,0
21,952,New York,New York City,"8,379,043",90,266,53,1,0,13
22,1036,Ohio,Columbus,"906,120",35,6,12,5,0,8
23,1125,Oklahoma,Oklahoma City,"657,890",3,0,0,0,0,0
24,1159,Oregon,Portland,"662,114",23,4,5,0,1,3
25,1173,Pennsylvania,Philadelphia,"1,589,014",7,4,1,0,0,0
26,1229,Tennessee,Memphis,"650,410",4,0,1,0,0,0
27,1230,Tennessee,Nashville,"687,361",3,2,1,0,0,0
28,1247,Texas,Austin,"986,062",5,2,3,0,0,0
29,1267,Texas,Dallas,"1,363,295",13,3,13,0,0,1
30,1276,Texas,El Paso,"686,793",3,0,0,0,0,0
31,1281,Texas,Fort Worth,"915,237",8,2,5,0,0,0
32,1299,Texas,Houston,"2,355,606",13,2,9,2,0,3
33,1344,Texas,San Antonio,"1,559,166",5,0,4,0,0,0
34,1456,Washington,Seattle,"763,706",178,26,80,3,4,13
35,1493,Wisconsin,Milwaukee,"590,923",2,0,0,0,0,0

In [10]:
hc_top_df = pd.merge(top_df, top_hc[["city","hc_demo"]], on = "city", how = "left")

In [11]:
hc_top_df

,region,city,state,popsize,pop_est,white_nonhi,black,asian,hisp_lat,hc_demo
0,southwest,Albuquerque,New Mexico,"500k-999,999",560513,0.39,0.033,0.029,0.492,25.0
1,southeast,Atlanta,Georgia,"500k-999,999",506811,0.38,0.510,0.044,0.043,NaN
2,southwest,Austin,Texas,"500k-999,999",978908,0.48,0.078,0.076,0.339,5.0
3,northeast,Baltimore,Maryland,"500k-999,999",593490,0.28,0.624,0.026,0.053,NaN
4,northeast,Boston,Massachusetts,"500k-999,999",692600,0.45,0.252,0.097,0.198,113.0
5,southeast,Charlotte,North Carolina,"500k-999,999",885708,0.42,0.352,0.065,0.143,NaN
6,midwest,Chicago,Illinois,1M+,2693976,0.33,0.296,0.066,0.288,18.0
7,west,Colorado Springs,Colorado,<500k,478221,0.69,0.065,0.029,0.176,6.0
8,midwest,Columbus,Ohio,"500k-999,999",898553,0.55,0.290,0.058,0.062,35.0
9,southwest,Dallas,Texas,1M+,1343573,0.29,0.243,0.034,0.418,13.0
10,west,Denver,Colorado,"500k-999,999",727211,0.54,0.092,0.037,0.299,40.0
11,midwest,Detroit,Michigan,"500k-999,999",670031,0.11,0.783,0.017,0.077,30.0
12,southwest,El Paso,Texas,"500k-999,999",681728,0.13,0.036,0.014,0.814,3.0
13,southwest,Fort Worth,Texas,"500k-999,999",909585,0.39,0.189,0.046,0.351,8.0
14,west,Fresno,California,"500k-999,999",531576,0.27,0.074,0.138,0.496,NaN
15,southwest,Houston,Texas,1M+,2320268,0.24,0.226,0.068,0.450,13.0
16,midwest,Indianapolis,Indiana,"500k-999,999",876384,0.55,0.286,0.034,0.105,13.0
17,southeast,Jacksonville,Florida,"500k-999,999",911507,0.51,0.310,0.048,0.100,4.0
18,midwest,Kansas City,Missouri,<500k,497159,0.38,0.233,0.049,0.304,25.0
19,west,Las Vegas,Nevada,"500k-999,999",651319,0.44,0.122,0.069,0.331,17.0
20,west,Los Angeles,California,1M+,3979576,0.29,0.089,0.116,0.485,118.0
21,southeast,Louisville,Kentucky,"500k-999,999",617638,0.66,0.236,0.027,0.056,4.0
22,southeast,Memphis,Tennessee,"500k-999,999",651073,0.26,0.641,0.017,0.072,4.0
23,southwest,Mesa,Arizona,"500k-999,999",518012,0.61,0.042,0.022,0.277,2.0
24,midwest,Milwaukee,Wisconsin,"500k-999,999",590157,0.35,0.387,0.043,0.190,2.0
25,southeast,Nashville,Tennessee,"500k-999,999",670820,0.55,0.276,0.037,0.105,3.0
26,northeast,New York City,New York,1M+,8336817,0.32,0.243,0.141,0.291,90.0
27,southwest,Oklahoma City,Oklahoma,"500k-999,999",655057,0.54,0.143,0.045,0.197,3.0
28,midwest,Omaha,Nebraska,<500k,478192,0.67,0.123,0.038,0.139,0.0
29,northeast,Philadelphia,Pennsylvania,1M+,1584064,0.35,0.421,0.072,0.147,7.0
30,west,Phoenix,Arizona,1M+,1680992,0.43,0.071,0.038,0.426,111.0
31,west,Portland,Oregon,"500k-999,999",654741,0.71,0.058,0.082,0.097,23.0
32,west,Sacramento,California,"500k-999,999",513624,0.32,0.132,0.189,0.289,1.0
33,southwest,San Antonio,Texas,1M+,1547253,0.25,0.070,0.028,0.642,5.0
34,west,San Diego,California,1M+,1423851,0.43,0.064,0.167,0.303,8.0
35,west,San Francisco,California,"500k-999,999",881549,0.41,0.052,0.344,0.152,35.0
36,west,San Jose,California,1M+,1021795,0.26,0.030,0.359,0.316,13.0
37,west,Seattle,Washington,"500k-999,999",753675,0.64,0.073,0.154,0.067,178.0
38,southwest,Tucson,Arizona,"500k-999,999",548073,0.44,0.052,0.032,0.436,6.0
39,northeast,Washington,District of Columbia,"500k-999,999",705749,0.37,0.463,0.040,0.110,107.0

In [12]:
# Save csv as "top_thirty_hc_df.csv"
hc_top_df.to_csv("/Users/adriana/Google Drive/_Learning/_DS4A/Assignments/0_Final_Project/top_thirty_hc_df.csv", index = False)

In [13]:
def extraction(df, df_column):
    result_list = []
    
    if (top_df["city"] == df["city"]) and (top_df["state"] == df["state"]):
        c_to_list = df_column.tolist()
        result_list.append(c_to_list)
        
    return result_list

In [14]:
print(hc_top_df["hc_demo"].loc[30:40])

30    111.0
31     23.0
32      1.0
33      5.0
34      8.0
35     35.0
36     13.0
37    178.0
38      6.0
39    107.0
Name: hc_demo, dtype: float64

In [15]:
extraction(hc_df, hc_df["race_ethnicity_ancestry"])

KeyError: 'race_ethnicity_ancestry'